
body{
    padding: 50px 100px;
}

.main{
    border: 2px solid gray;
    background-color: beige;
    border-radius: 10px;
}
.main:hover{
    border: 1px solid #d39117;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    
}
.btn{
    justify-content: center;
    text-align: center;
    position: relative;
    top: 20px;
    font-weight: 700;
    font-size: 2.5rem;
}

.inp{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}
label{
    font-size: 22px;
}
.input-div{
    width: 40%;
}


.reset-btn{
    background-color: #d39117;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2rem;
}
.reset{
    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}